.about-section{
	background-image:linear-gradient(45deg, #3641ca, #262626);
	padding:7rem 0;
	margin-right: -2rem;
	margin-left:-2rem;
	margin-top:-3rem;
}

.about-paragraph {
	font-size: 4rem;
	margin-top:3rem;
	margin-bottom:3rem;
	color:white;
	font-family:"orig_prata_regular";
	line-height:5rem;
     letter-spacing: normal;
     text-align:left;
}

.testimonial-section{
	padding:7rem 0;
	position:relative;
	margin-right: -2rem;
	margin-left:-2rem;
	margin-top:-3rem;
}
