/*****Cambia todo lo que se seleccione en base al width de la screen *****/
                        /****RESPONSIVENESS****/

/*Big tablets and smaller laptop screens*/ /*Orden descendente siempre*/

@media only screen and (max-width:1200px){
  html, body{
    font-size:14px;
  }
  .about-p{
    margin-bottom:20px;
  }
  
  .section-heading, .reference-heading, .bio-heading, .contact-heading{
    margin-top:20px;
  }

}


/*Small tablets to larger tablets*/

@media only screen and (max-width:1023px){
  html, body{
    font-size:12px;  
  }
  .row{
    padding:0 2%;
  }
  .extra-heading{
    margin-top:60px;
  }  
  .section-heading, .contact-heading{
    margin-top:60px;
  }
  .about-box{
    margin-top:60px;
  }
  .about-box:first-child{
    padding:0;
    padding-left:5%;
  }
  .about-img{
    padding-right:5%;
  }

  label{
    margin-left:100px;
  }
  
  .name-query{
    margin-left:82px;
  }

  input, textarea{
    width:80%;
  }

}

/*Larger phones or Smaller tablets*/

@media only screen and (max-width:767px){
 html, body{
  font-size:12px;
 } 

 .name-query{
  margin-left:85px;
 }

 .about-heading{
   margin-bottom:20px;
 }
 .section-heading, .reference-heading, .bio-heading, .contact-heading{
   margin-top:60px;
 }

 .header-box-text{
    margin-bottom:50px; 
 }
}

/*Smaller to larger mobiles phones*/

@media only screen and (max-width:479px){
  .about-img{
    padding:0;
    margin:0 auto;
  }
  .about-box:last-child{
    text-align:center;
  }

  .about-box:first-child{
    text-align:center;
    padding:0 10%;
  }
  .contact-form{
    width:100%;
  }

  label, .name-query{
    margin-left:10px;
  }
  input[type=submit]{
    padding-left:30px;
    width:40%;
  }
  .work-portfolio li {
    width:50%;
  }

}

