*{ /*Always put this*/
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body{
  background-color:#fff;
  color:#000;
  text-rendering:optimizeLegibility; /*To charge nicely the text*/
  font-size:16px;
  font-family:'Work Sans', 'Arial', sans-serif;
}

.row{
  max-width:1140px;
  margin:0 auto;
}

/*HEADER SECTION*/

.personal_image{
	width:30%;	
}

header{
  background-image:-webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)),url(img/header-img.jpg);
  background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)),url(img/header-img.jpg);
  height:100vh;/*Ocupa el tamaño del "viewer" cellphone/pc*/
  background-size:cover; /*Toma el tamaño de la pantalla*/
  background-position:center;
  position:relative;
}

.header-box{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%); /*Make bigger or smaller, rotate it or translate it */
  text-align:center;
}

h1{
  font-size:500%; /*Of the general font-size*/
  color:#fff;
  font-weight:400;
  margin-bottom:10px;
}

h2{
  font-size:200%;
  color:#fff;
  font-weight:400;
}

.header-box-text{
  margin-bottom:100px;
}

/**BUTTONS**/

/*Pseudo class determina el estado del selector en una situación específica*/
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color:#EE9A3B;
    color:#fff;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover {
    background-color:#7d7459;
}

/*Visited: Cuando ya fue clickeado, link aún no visitado */

.btn:link, 
.btn:visited,
input[type=submit] {
  text-decoration: none; /*Without underline*/
  padding: 10px 30px;
  border-radius:200px;
}

input[type=submit]{
  width:20%;
  margin-bottom: 40px;
  padding-left:20px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #EE9A3B;
  color:#000;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color:#EE9A3B;
  color:#fff;
}

/*END BUTTONS*/


/* NAV SECTION*/

.main-nav{
  float:right;
  margin-top:50px;
  list-style:none;
}


.main-nav li{
  display:inline-block;
  margin-right: 40px;
  text-transform:uppercase;
}

.main-nav li a:link,
.main-nav li a:visited{
  color:white;
  text-decoration: none;
  -webkit-transition:border-bottom 0.2s;
  transition:border-bottom 0.2s; /*Tiempo que tarda la animación*/
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #EE9A3B;
}

.logo{
  border:4px solid white;
}

/*ABOUT SECTION*/

#about-img{
  border-radius: 25px;
  width:80%;
}

.about-heading{
  color:#000;
  font-size:250%;
  font-weight:500px;
  margin-bottom: 50px;
}

.about-box{
  margin-top: 150px;
}

.about-p{
  color:#555;
  margin-bottom:50px;
}

/* First Child selecciona entre el primero, segundo, tercero de una misma clase */

.about-box:first-child {
  text-align: left;
  padding:0 5%;
}

.about-box:last-child{
  text-align: right;
}

.about-section {
  padding-bottom:20px;
}

/*PORTFOLIO*/
/*:after define que algo aparezca luego del elemento*/


.section-heading{
  font-size:250%;
  color:black;
  margin-bottom:20px;
  margin-top:150px;
}

.section-sub-heading{
  font-size:150%;
  color:#555;
  font-weight:300;
  margin-bottom:30px;
  line-height:1.5;
}

.section-sub-heading:after {
  display:block;
  height:2px;
  width:100px;
  background-color:#EE9A3B;
  content:" ";
  margin:30px auto 0 auto;
}

.work-section{
  text-align: center;
  background-color:#f4f4f4;
}


.work-portfolio{
  margin-top:10px;
  list-style:none;
  width:100%;
}

.work-portfolio li {
  display:block;
  width:25%;
  float:left;
  overflow:hidden;
}

.portfolio-img{
  background-color:#000;
}

.portfolio-img img{
  width:100%;
  height:250px;
  opacity:0.8;  
  -webkit-transform:scale(0.75);  
          transform:scale(0.75);
  -webkit-transition:opacity 0.5s, -webkit-transform 0.5s;
  transition:opacity 0.5s, -webkit-transform 0.5s;
  transition:transform 0.5s, opacity 0.5s;
  transition:transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.portfolio-img img:hover {
  -webkit-transform:scale(1);
          transform:scale(1);
  opacity:1;
}

.work-p{
  color:white;
}

/*Sirve para limpiar los floats*/
.clearfix{
  zoom:1;
}

.clearfix:after{
  content:"";
  display:table;
  clear:both;
  visibility:hidden;
}
/*********************/

.education-section{
  text-align:center;
  background-color:#f4f4f4;
}

.education-box{
  padding:1% 3%;
}

.education-icon{
  font-size:250%; /*Los icons se utilizan como fonts*/
  color: #DA8728;
  display:block;
  margin-bottom: 30px;
}

.education-heading{
  font-size:150%;
  margin-bottom:30px;
  font-weight:400px;
}

.education-p{
  color:#555;
  font-size:120%;
  margin-bottom:20px;
  text-align:justify;
}

/*REFERENCES SECTION*/

.reference-section{
  background-image:-webkit-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)), url(img/reference.jpg);
  background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)), url(img/reference.jpg);
  background-attachment:fixed; /*Es lo que fija la imagen para que al hacer scroll se quede quieta mientras que el content se mueve*/
  text-align:center;
  background-size:cover;
  color:white;
}

.reference-heading{
  font-size:250%;
  margin-bottom:80px;
  margin-top:150px;
}

blockquote{
  padding:2%;
  font-style:italic;
  line-height:145%;
  position:relative; /*Padre de las comillas por eso va relativo*/
}

blockquote:before{
  content:"\201C";
  display:block;
  font-size:500%;
  position:absolute;
  top:-5px;
}

.reference-box{
  text-align:left;
  margin-bottom:50px;
}

cite{
  display:block;
  margin-top:25px;
  font-size:50%;
}

cite img{
  border-radius:200px;
  vertical-align: middle;/*centrar elementos verticalmente*/
  width:125px;
  margin-right:150px; 
}

/*EXTRA INFO*/

.extra-info{
  text-align: center;
  background-color:#f4f4f4;
}

.extra-heading{
  color:black;
  font-size:250%;
  margin-bottom:20px;
  margin-top:150px;
}

.info-box{
  background-color:white;
  width:90%;
  height:400px;
  margin-bottom:20px;
  box-shadow:0 3px 2px #efefef;
  text-align:left;
}

.bio-heading{
  font-size:150%;
  color:#666;
  margin-bottom:50px;
  margin-top:20px;
  font-weight:400px;
  border-bottom:1px solid #efefef;
}

.dos{
  margin-bottom:17px;
}

.small-icon{
  font-size:120%;
  display:inline-block;
  margin-right:10px;
  width:30px;
  text-align:center;
  color:#EE9A3B;
}

.bio-list{
  list-style:none;
  color:#555;
  padding:5px 0;
  margin-bottom:25px;
}

.bio-list li {
  text-align:justify;
  margin-right:5px;
  margin-left:5px;
}
      /*BARRAS DE IDIOMA*/
.container{
  width: 100%;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #EE9A3B;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #EE9A3B;
}
.bar.back::before{
  background-color:#EE9A3B ;
}

.bar.learning::before{
  width: calc(20% - 10px);
}

.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}

/*FIN BARRA DE IDIOMA*/


/***CONTACT SECTION****/

.contact-section{
  text-align:center;  
}

.contact-heading{
  color:black;
  margin-top:150px;
  margin-bottom:50px;
}

.contact-form{
  text-align:left;
  width:60%;
  color:#555;
  margin:0 auto;
}

input, textarea{
  width:100%;
  padding:8px;
  color:black;
  border-radius:3px;
  border: 1px solid #555;
  background-color:white;
}

textarea{
  height:100px;
}

/*FOOTER SECTION */

footer{
  background-color:#333;
  padding:50px;
  font-size: 80%;
  text-align:center;
  color:#888;
}

.footer-heading{
  color:#757575;
}

.social-media li {
  display:inline-block;
  list-style:none;
  margin-right:10px;
  margin-top: 25px;
  margin-bottom:25px;
  font-size: 150%;
}

.social-media li a:link,
.social-media li a:visited{
  text-decoration:none;
  color:#888;
}

.fa-instagram:hover{
  color:#c32aa3;
  -webkit-transition:color 0.2s;
  transition:color 0.2s;
}

.fa-linkedin:hover{
   color:#0a66c2;
   -webkit-transition:color 0.2s;
   transition:color 0.2s;
}

footer div{
  margin-bottom:25px;
}

.sticky-nav{
  position:fixed;
  left:0;
  background-color:white;
  top:0;
  background-color:rgba(255,255,255,.8);
  width:100%;
  box-shadow:0 2px 2px #efefef;
}

.sticky-nav .main-nav{
  margin-top:20px;
  margin-bottom:10px;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited{
  color:#555;
  padding:0 5px;

}
